* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: lightpink;
}

.count-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count-btn h1 {
  font-size: 40px;
}

.count-btn div button {
  font-size: 20px;
  border-radius: 50px;
  padding: 5px 10px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.count-btn div button:hover {
  background-color: white;
}

.count-btn button:last-child {
  margin-right: 0;
}